{% extends "base.html" %}
{% block title %}
Create note
{% endblock title %}

{% block body %}

<div class="container">
   {% if error %}
   <div class="alert alert-danger" role="alert">
      {{error}}
   </div>
   {% endif %}

   <form method= "POST">
   {% csrf_token%}
   <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" name = "title" id="exampleInputEmail1" aria-describedby="emailHelp">
   </div>
   <div class="form-floating mb-3">
      <textarea class="form-control" id="floatingTextarea" name = "description"></textarea>
      <label for="floatingTextarea">Description</label>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>

{% endblock body %}

<!-- {
   "title":"user_data",
   "description":'kjaslkdf'
} -->