{% extends "base.html" %}
{% block title %}
index page
{% endblock title%}
{% block body %}
  
   <h1>{{name}}</h1>
   <p>{{age}}</p>

   <table border = 1>
      <thead>
         <tr>
            <th>s.no</th>
            <th>name</th>
            <th>age</th>
         </tr>
      </thead>
      <tbody>
         {% for i in person %}
            <tr>
               <td>{{forloop.counter}}</td>
               <td>{{i.name}}</td>
               <td>
                  {% if i.age < 18 %}
                    bachha 

                  {% elif i.age < 40 %}
                    adult

                  {% else %}
                    old
                  {% endif %}
                   {{i.age}}
               </td>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock body  %}

